body { 
font-family: monospace; 
} ul {
font-family: helvetica; 
}
li {
list-style: circle;
}
.list {
list-style: square; 
}
#msg { 
font-family: monospace;
}
.light-theme {
color: #0fb7ef;
background: #c3115e; 
}